body {
  color: #4b70dd;
  background: #6d6d6d;
  font-family: monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #4b70dd;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
  }
th {
  background-color: #4b70dd;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}

input[type=search], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
